*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgb(248, 237, 216);
}

a{
    all: inherit;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    padding: 15px;
}

main{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 20px;
}

#sub{
    display: flex;
    gap: 5px;
}

.btn_sub{
    all: inherit;
    cursor: pointer;
    background-color: rgb(250, 162, 0);
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

.noticias{
    width: 60%;
    justify-self: center;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    background-color: rgb(247, 227, 190);
    gap: 10px;
}

.noticias:hover{
    cursor: pointer;
}

.img_news{
    height: 20vh;
    border-radius: 10px;
}

@media (max-width: 768px){
    .noticias{
        
        flex-direction: column;
    }
}