*{
    margin: 0%;
    padding: 0%;
}

#all{
    width: 50%;
}

h1{
    font-weight: 600;

}

p{
    font-weight: 200;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 237, 216);
}

#img_ene{
    display: none;
}

@media (max-width: 768px){
    body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 237, 216);
    }

    main{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 25px;
    background-color: wheat;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    font-size: 50px;
    gap: 20px;
}

input{
    all: inherit;
    height: 40px;
    width: 100%;
    height: 60%;
    font-size: 34px;
    box-shadow: 0px 0px 10px black;
    margin: 0%;
    padding-left: 5px;
    background-color: white;
}

.itens{
    display: flex;
    flex-direction: column;
}

button{
    all: inherit;
    cursor: pointer;
    font-size: 30px;
    justify-content: center;
    width: fit-content;
    height: 5px;
    display: flex;
    align-self: center;
    background-color: rgb(252, 238, 212);
}

button:hover{
    background-color: rgb(248, 197, 103);
}
}


@media (min-width: 769px){
main{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 25px;
    background-color: wheat;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    font-size: 50px;
    gap: 20px;
}

input{
    all: inherit;
    height: 40px;
    width: 100%;
    height: 60%;
    box-shadow: 0px 0px 10px black;
    margin: 0%;
    padding-left: 5px;
    background-color: white;
}

.itens{
    display: flex;
    flex-direction: column;
}

button{
    all: inherit;
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-self: center;
    background-color: rgb(252, 238, 212);
}

button:hover{
    background-color: rgb(248, 197, 103);
}

}